{% block title %}

    <h1>Basket - add new product</h1>

{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
