{% block title %}

    <h1>Basket - show</h1>

{% endblock %}

{% block body %}

    {% if basket %}

        <table>
            <tr>
                <th>product name</th>
            </tr>
            {% for product in basket %}
                <tr>
                    <td>{{ product.name }}</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}

        Basket is empty.

    {% endif %}

    <a href={{ path('basket_remove_items') }}>Remove items</a>

{% endblock %}
